@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* header _______________________________________________________ */
header {
    position: relative;
    padding: 0 2rem;
    background-color: #0A0B13;

}

.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 1.5rem;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffffff;
}

.links a {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: inset 0 0 0 0 #ffffff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links a:hover {
    box-shadow: inset 0 -100px 0 0 #287EEE;
    color: #ffffff;
}

.btn1,
.btn2 {
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600;
}

.btn1 {
    margin-right: 5px;
    background-color: #000;
    color: #287EEE;
    border: 2px solid #287EEE;
}

.btn1:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;

}

.btn2 {
    background: linear-gradient(90deg, #0A0B13, #287EEE);
    color: #ffffff;
    border: 0;
}

.btn2:hover {
    background: linear-gradient(90deg, #287EEE, #0A0B13);
    color: #ffffff;
    cursor: pointer;
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1rem;

}

/* Banners _______________________________________________________ */
.slider {
    height: 100vh;
    margin-top: -0px;
    position: relative;
    color: #ffffff;

}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #0A0B13 5%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
    }
}

/* Logos site _______________________________________________________ */

section.sites {
    background: linear-gradient(to left, #0A0B13, #287EEE);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.fiec {
    width: 140px;
    margin-left: 50px;
}

.sesi {
    width: 137px;
}

.senai {
    width: 175px;
    margin-right: 50px;
}

/* Título - Sobre nós _______________________________________________________ */

.title-about-us {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to right, #0A0B13, #287EEE);

}

.title {
    text-align: center;
    max-width: 600px;
}

h1,
p {
    margin: 0px 20px;
    padding: 5px;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

p,
.subtitle {
    font-weight: 500;
    font-size: 1rem;
}

/*  Frame vídeo - sobre nós _______________________________________________________ */

.bg-about-us {
    background: linear-gradient(to top, #287EEE, #0A0B13);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame-video {
    width: 800px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    border: solid 5px transparent;
    background:
        linear-gradient(to top, #ffffff, #0A0B13) padding-box,
        linear-gradient(to top, #ffffff, #0A0B13 80%) border-box;
    box-shadow: #0000001a 0px 20px 25px -5px, #0000000a 0px 10px 10px -5px;


}

/* Título - Serviços _______________________________________________________ */
section.services {
    background-color: #0A0B13;
    height: 600px;

}

.center-title {
    display: flex;
    justify-content: center;

}

.title-services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    margin-top: 10px;
    color: #ffffff;
    background: linear-gradient(to bottom, #0A0B13, #287EEE);
    border-radius: 0px 0px 50px 50px;
}

.service1 {
  

}

/* Serviços _______________________________________________________ */

.grid{
    border: solid 5px #ffffff;
    max-width: 400px;
    background-color: red;
}

