.html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
    overflow-y: hidden; 
    overflow-x: hidden; 
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgb(255, 255, 255);
    
}

/*Centralizar*/
.center{
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;

}
