* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
    overflow-x: hidden; 
    font-family: 'Chakra Petch', sans-serif;
    
}

:root{
    --color-one: #000000; 
    
}

/*Scroolbar*/
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #dfdfdf; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a; 
  }

.center{
    display: flex; 
    justify-content: center;
    margin: auto;
}

.page{
    position: relative; 
    
}



/*---------------------------Barras---------------------------*/
@keyframes bar {
    to {
        background-position-x: 30px; 
    }
}

.bar {
    display: block;
    border: 10px solid rgb(0, 0, 0);
    width: auto;
    height: 30px;
    background-color: var(--color-one);
    background-image: linear-gradient(
    -45deg,
    #ffc61a 0%, 
    #ffc61a 26%,
    transparent 26%,
    transparent 51%, 
    #ffc61a 51%, 
    #ffc61a 76%, 
    transparent 76%,
    transparent 100%
    );

    background-size: 30px;
    animation: bar 1s linear infinite;  
}

/*------------------------------------------------------*/
.background{
    display: flex; 
    justify-content: center; 
    position: fixed; 
    width: 100%;
    height: 100%;
    -o-object-fit:cover;
    object-fit:cover; 
    z-index: 0;

}

/*------------------------------------------------------*/


.box-title{
    margin-bottom: 20px;
}

.title-project{
    max-width: 900px;
    width: 60%;  
    text-align: center;
    font-size: 15px;
    padding: 40px;
    border-bottom: 1px solid black;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.137);
}

.display-img{ 
    margin-bottom: 10px;
    pointer-events: none; 
}

.top-img{
    width: 100px;
    height: 100px;
}

/*------------------------------------------------------*/

.box-text{
    margin: auto; 
    text-align: center;
    max-width: 950px; 
    width: 70%;
    padding: 25px;
    background-color:#f2f2f2;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.219);


}

.title-dev{
    font-size: 15px;
}

.sub-title-dev{
    font-size: 15px;

}

/*------------------------------------------------------*/

.img-under-construction{
    max-width: 800px; 
    margin: auto;

}

/*------------------------------------------------------*/

.about-text{
    font-size: 15px;
    max-width: 950px; 
    padding: 10px;
    width: 70%;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.219);
    border: 1px solid #00aeff7c;
    background-color: #00aeff25;

}

.description{
    text-align: center;
    max-width: 950px; 
    width: 70%;
    margin-top: -1px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px  C;
    border: 1px solid #00aeff7c;
    background-color: #00aeff25;
}

/*------------------------------------------------------*/

.box-end{
    padding: 10px;
}

.end-logo{
    width: 50px;
    border-radius: 100%;
} 

.end-text{
    text-align: center;
    font-size: 15px;

}

